{% extends "base.html" %}
{% block title %} Login {% endblock title %}
{% block content %}
	<div style='width: 40%; margin: 0 auto; text-align: center;'>
	<h2 >Inicio de Sesión</h2>
	{% if message %}
		<b>{{ message }}</b>
	{% endif %}
	<form action="" method="post">{% csrf_token %}
		<p class='input-group input-group-lg align-right'>
			<span class="input-group-addon" id="sizing-addon1">Usuario</span>
			{{form.username}}			
		</p>
		<p class='input-group input-group-lg'>
			<span class="input-group-addon" id="sizing-addon1">Clave&nbsp;&nbsp;&nbsp;</span>
			{{form.password}}			
		</p>
		<p id="IniciarSesion" class='text-center'>
			<input type='submit' class = "btn btn-danger" value='Ingresar'>
        	</p>
	</form>
	</div>
{% endblock content %}
