{% extends "base.html" %}

{% block content %}


 <p id="CrearCometido" class="text-right">
                <a class="btn btn-success" href="/cometidos">Mis Cometidos</a>
        </p>
<form method='POST' action=''>{% csrf_token %}
<div class="panel panel-info" style="text-align: justtify;">
	<div class="panel-heading text-left">
		<strong>I.- IDENTIFICACION</strong>
	</div>
	<div id="funcionario" style="padding: 10px;">
		<table class="table table-bordered table-hover">
		<tbody>
			<tr>
				<td width="20%">{{ form.nombre.label_tag }}</td>
				<td width="80%" colspan=7>{{ form.nombre }} {{ form.nombre.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.rut.label_tag }}</td>
				<td>{{ form.rut }} {{ form.rut.errors }}</td>
				<td>{{ form.rut.label_tag }}</td>
				<td>{{ form.grado }} {{ form.grado.errors }}</td>
				<td>{{ form.estamento.label_tag }}</td>
				<td colspan=3>{{ form.estamento }} {{ form.estamento.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.escalafon.label_tag }}</td>
				<td>{{ form.escalafon }} {{ form.escalafon.errors }}</td>
				<td>{{ form.unidad.label_tag }}</td>
				<td colspan=5>{{ form.unidad }} {{ form.unidad.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.region.label_tag }}</td>
				<td colspan=7>{{ form.region }} {{ form.region.errors }}</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>

<div class="panel panel-primary" style="text-align: justtify;">
	<div class="panel-heading text-left">
		<strong>II.- ESPECIFICACION</strong>
	</div>
	<div style="padding: 10px;" id="especificacion">
		<table class="table table-bordered table-hover">
                <thead>
                        <tr>
                                <td width="10%"><label>Fecha </label></td>
                                <td width="25%"><label>Establecimiento</label></td>
                                <td width="40%"><label>Objetivo</label></td>
                                <td width="5%"><label>Pernoctar</label></td>
                        </tr>
		</thead>
		<tbody>
                        <tr>
				<td>{{ destino.fecha }}</td>
				<td>{{ destino.establecimiento }}</td>
				<td>{{ destino.objetivo }}</td>
				<td>{{ destino.pernoctar }}</td>
                        </tr>
                        <tr>
				<td>{{ destino.fecha}}</td>
				<td>{{ destino.establecimiento }}</td>
				<td>{{ destino.objetivo }}</td>
				<td>{{ destino.pernoctar }}</td>
                        </tr>
		</tbody>
		</table>
	</div>
	
</div>
<div class="panel panel-primary" style="text-align: justtify;">
	<div class="panel-heading text-left">
		<strong>III.- INFORMACION ADICIONAL</strong>
	</div>
	<div style="padding: 10px;" id="adicional">	
		<table class="table table-bordered table-hover">
		<tbody>
			<tr>
				<td width="20%">{{ form.convocadopor.label_tag }}</td>
				<td width="80%" colspan=7>{{ form.convocadopor }} {{ form.convocadopor.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.tipofinanciamiento.label_tag }}</td>
				<td colspan=7>{{ form.tipofinanciamiento }} {{ form.tipofinanciamiento.errors }}</td>
			</tr>
			<tr>
				<td colspan=8><strong>Vi&aacute;ticos</strong></td>
			</tr>
			<tr>
				<td>{{ form.derechoaviatico.label_tag }}</td>
				<td colspan=7>{{ form.derechoaviatico }} {{ form.derechoaviatico.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.al100.label_tag }}</td>
				<td>{{ form.al100 }} {{ form.al100.errors }}</td>
				<td>{{ form.al60.label_tag }}</td>
				<td>{{ form.al60 }} {{ form.al60.errors }}</td>
				<td>{{ form.al50.label_tag }} </td>
				<td>{{ form.al50 }} {{ form.al50.errors }}</td>
				<td>{{ form.al40.label_tag }}</td>
				<td>{{ form.al40 }} {{ form.al40.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.diadesalida.label_tag }}</td>
				<td colspan=3>{{ form.diadesalida }} {{ form.diadesalida.errors }}</td>
				<td>{{ form.horadesalida.label_tag }}</td>
				<td colspan=3>{{ form.horadesalida }} {{ form.horadesalida.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.diadellegada.label_tag }}</td>
				<td colspan=3>{{ form.diadellegada }} {{ form.diadellegada.errors }}</td>
				<td>{{ form.horadellegada.label_tag }}</td>
				<td colspan=3>{{ form.horadellegada }} {{ form.horadellegada.errors }}</td>
			</tr>
			<tr>
				<td colspan=8><strong>Medio de Transporte a utilizar para el cometido</strong></td>
			</tr>
			<tr>
				<td>{{ form.viaaerea.label_tag }}</td>
				<td colspan=3>{{ form.viaaerea }} {{ form.viaaerea.errors }}</td>
				<td>{{ form.lineaaerea.label_tag }}</td>
				<td colspan=3>{{ form.lineaaerea }} {{ form.lineaaerea.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.viaffcc.label_tag }}</td>
				<td colspan=7>{{ form.viaffcc }} {{ form.viaffcc.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.viabus.label_tag }}</td>
				<td colspan=3>{{ form.viabus }} {{ form.viabus.errors }}</td>
				<td>{{ form.lineabus.label_tag }}</td>
				<td colspan=3>{{ form.lineabus }} {{ form.lineabus.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.viavehiculofiscal.label_tag }}</td>
				<td colspan=3>{{ form.viavehiculofiscal }} {{ form.viavehiculofiscal.errors }}</td>
				<td>{{ form.vehiculofiscal.label_tag }}</td>
				<td colspan=3>{{ form.vehiculofiscal }} {{ form.vehiculofiscal.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.viavehiculoparticular.label_tag }}</td>
				<td colspan=3>{{ form.viavehiculoparticular }} {{ form.viavehiculoparticular.errors }}</td>
				<td>{{ form.placapatente.label_tag }}</td>
				<td colspan=3>{{ form.placapatente }} {{ form.placapatente.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.viataxitransfers.label_tag }}</td>
				<td colspan=7>{{ form.viataxitransfers }} {{ form.viataxitransfers.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.viamaritima.label_tag }}</td>
				<td colspan=7>{{ form.viamaritima }} {{ form.viamaritima.errors }}</td>
			</tr>
			<tr>
				<td colspan=8><strong>Gastos estimados a ejecutar durante el cometido</strong></td>
			</tr>
			<tr>
				<td>{{ form.gastoscombustiblepeaje.label_tag }}</td>
				<td colspan=7>{{ form.gastoscombustiblepeaje }} {{ form.gastoscombustiblepeaje.errors }}</td>
			</tr>
			<tr>
				<td>{{ form.gastosmovilizacion.label_tag }}</td>
				<td colspan=3>{{ form.gastosmovilizacion }} {{ form.gastosmovilizacion.errors }}</td>
				<td>{{ form.gastosenvehiculoparticular.label_tag }}</td>
				<td colspan=3>{{ form.gastosenvehiculoparticular }} {{ form.gastosenvehiculoparticular.errors }}</td>
			</tr>
			{% if conductor %}
			<tr>
				<td colspan=8><strong>Solo aplica para el caso de ser conductor</strong></td>
			</tr>
			<tr>
				<td><label>Kilometraje Inicial Real</label></td>
				<td colspan=3>{{ form.kminicial }} {{ form.kminicial.errors }}</td>
				<td><label>Kilometraje Final Estimado</label></td>
				<td colspan=3>{{ form.kmfinal }} {{ form.kmfinal.errors }}</td>
			</tr>
			{% endif %}
			<tr>
				<td colspan=8><strong>Comentario y/o informacion adicional</strong></td>
			</tr>
			<tr>
				<td>{{ form.observaciones.label_tag }}</td>
				<td colspan=7>{{ form.observaciones }} {{ form.observaciones.errors }}</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
<p id="GuardarCometido" class="text-center">
	<input type='submit' class = "btn btn-danger" value='Crear Cometido'>
        </p>
</form>


<script type="text/javascript">
    $("#id_diadesalida").datetimepicker({format: 'dd/mm/yyyy', minView:2, autoclose : true , language : 'es'}).find('input').addClass("form_diadesalida");
    $("#id_diadellegada").datetimepicker({format: 'dd/mm/yyyy', minView:2, autoclose: true ,language : 'es'}).find('input').addClass("form_diadellegada");
    $("#id_horadesalida").datetimepicker({format: 'hh:ii', minView:0, maxView:1, autoclose : true , language : 'es',startView:1}).find('input').addClass("form_horadesalida");
    $("#id_horadellegada").datetimepicker({format: 'hh:ii', minView:0, maxView:1, autoclose : true , language : 'es',startView:1}).find('input').addClass("form_horadellegada");
    $("#id_fecha").datetimepicker({format: 'dd/mm/yyyy', minView:2, autoclose : true , language : 'es'}).find('input').addClass("form_fecha");
</script>            

	
{% endblock content %}
